src/main/resources/static/sitemap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="url">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="loc" type="xs:string"/>
				<xs:element name="lastmod" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="urlset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>